.wrapper {
  width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin-bottom: 16px;

  height: 32px;

  background: transparent;

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;

  border: 0;
  border-bottom: 1px solid #74b816;
}

.checkboxWrapper {
  margin-bottom: 16px;

  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-content: center;

  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #74b816;
  font-size: 14px;
}

.buttons {
  display: flex;
}

.button {
  padding: 8px 12px;

  flex: 1;

  font-family: "Roboto", sans-serif;
  font-size: 14px;

  border: 0;
  border-radius: 4px;

  cursor: pointer;
}

.button + .button {
  margin-left: 8px;
}

.searchButton {
  color: white;
  background-color: #74b816;
}

.randomButton {
  outline: 1px solid #d0d0d0;
}
